<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotel_Hw_1">
        <activity
            android:name=".actividad.CheckInActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.consultar_tareas_mantenimiento"
            android:exported="false" />
        <activity
            android:name=".actividad.ConsultarTareasLimpieza"
            android:exported="false" />
        <activity
            android:name=".actividad.GestionTareasActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.EmpleadoFormActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.GestionEmpleadosActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.ConsultarHuespedesActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.GestionEntradasSalidasActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.Solicitar_Tarea"
            android:exported="false" />
        <activity
            android:name=".actividad.Consultar_Estado_Reserva"
            android:exported="false" />
        <activity
            android:name=".actividad.Realizar_Reserva_Activity"
            android:exported="false" />
        <activity
            android:name=".actividad.Crear_Encuesta_Satisfaccion"
            android:exported="false" />
        <activity
            android:name=".actividad.MantenimientoActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.HuespedActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.LimpiadorActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.RecepcionistaActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.GerenteActivity"
            android:exported="false" />
        <activity
            android:name=".actividad.Consultar_Encuesta_Satisfaccion"
            android:exported="false" />
        <activity
            android:name=".actividad.Consultar_Ocupacion_Hotel"
            android:exported="false" />
        <activity
            android:name=".actividad.Consultar_Editar_Perfil"
            android:exported="false" />
        <activity
            android:name=".actividad.Pantalla_Registro"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Menu_Usuarios"
            android:exported="false" />
        <activity
            android:name=".actividad.Pantalla_Inicio"
            android:exported="false" />
        <activity
            android:name=".actividad.Presentacion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>